table{
    border:1px solid black;
    border-spacing: 0;
    padding: 0;
    margin-top: 10px;
}
th{
    border:1px solid black;
    background: darkgray;
}
td{ border:1px solid black;
    align-content: center;
    vertical-align: top;
    text-align: left;
    padding:5px;
}